http://:3000 {
	encode

	handle /auth/* {
		reverse_proxy {$CADDY_API_REVERSE_PROXY_URL}
	}

	handle /trpc/* {
		reverse_proxy {$CADDY_API_REVERSE_PROXY_URL}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
