services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - db-network
    command: sleep infinity
    environment:
      DATABASE_URL: postgresql://postgres:mysecretpassword@db:5432/postgres
      TEST_AUTH: true
      BETTER_AUTH_URL: http://localhost:3000
      BETTER_AUTH_SECRET: supersecretkey
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:17
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - db-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-t", "10"]
      interval: 1s
      timeout: 10s
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mysecretpassword}

networks:
  db-network:

volumes:
  db-data:
